#!KAMAILIO

#!define ASTERISK_IP "asterisk"
#!define ASTERISK_PORT 5060

debug=3
log_stderror=yes
log_facility=LOG_LOCAL0
fork=yes
children=4

listen=udp:0.0.0.0:5060
listen=tcp:0.0.0.0:5060

loadmodule "sl.so"
loadmodule "tm.so"
loadmodule "rr.so"
loadmodule "maxfwd.so"
loadmodule "textops.so"
loadmodule "siputils.so"
loadmodule "xlog.so"
loadmodule "sanity.so"

request_route {

    if (!sanity_check()) {
        xlog("L_WARN", "Sanity check failed from $si\n");
        exit;
    }

    if (!mf_process_maxfwd_header("10")) {
        sl_send_reply("483", "Too Many Hops");
        exit;
    }

    xlog("L_INFO", "[$ci] $rm from $fu to $ru\n");

    if (is_method("REGISTER")) {
        xlog("L_INFO", "[$ci] REGISTER from $fu\n");
        t_relay_to_udp(ASTERISK_IP, ASTERISK_PORT);
        exit;
    }

    if (is_method("OPTIONS")) {
        sl_send_reply("200", "OK");
        exit;
    }

    record_route();
    t_relay_to_udp(ASTERISK_IP, ASTERISK_PORT);
    exit;
}

reply_route {
    xlog("L_INFO", "[$ci] Reply $rs $rr\n");
    t_relay();
    exit;
}
